@if(Model["form-type"] == "new-stylist")
{
  <h1 class="text-center">Add a stylist</h1>
  <form action="/stylists/new" method="post">
    <div class="form-group">
      <label for="stylist-name">Enter the stylist's name</label>
      <input type="text" name="stylist-name" class="form-control">
    </div>
    <div class="form-group">
      <label for="stylist-rating">Enter the stylist's rating</label>
      <input type="text" name="stylist-rating" class="form-control">
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="stylist-new">
    <button type="submit" class="btn btn-info">Add stylist</button>
  </form>
}
@if(Model["form-type"] == "update-stylist")
{
  <h1 class="text-center">Edit a stylist</h1>
  <form action='/stylists/@Model["foundedStylist"].GetId()/update' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
      <label for="stylist-name">Enter the stylist's name</label>
      <input type="text" name="stylist-name" class="form-control" value='@Model["foundedStylist"].GetName()'>
    </div>
    <div class="form-group">
      <label for="stylist-rating">Enter the stylist's rating</label>
      <input type="text" name="stylist-rating" class="form-control" value='@Model["foundedStylist"].GetRating()'>
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="stylist-update">
    <h3>If you want to REMOVE client from this stylist, please check them</h3>
    @foreach(var client in Model["foundedStylist"].GetClients())
    {
      <div class="checkbox">
        <label><input type="checkbox" value="">@client.GetName()</label>
      </div>
    }
    <button type="submit" class="btn btn-info">Update stylist</button>
  </form>
}
@if(Model["form-type"] == "new-client")
{
  <h1 class="text-center">Add a client</h1>
  <form action="/client/new" method="post">
    <div class="form-group">
      <label for="client-name">Enter the client's name</label>
      <input type="text" name="client-name" class="form-control">
    </div>
    <div class="form-group">
      <label for="stylist-id">Enter the stylist for this client</label>
      <select class="form-control" name="stylists">
        @foreach(var stylist in @Model["listStylists"])
        {
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }
      </select>
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="client-new">
    <button type="submit" class="btn btn-info">Add client</button>
  </form>
}
@if(Model["form-type"] == "update-client")
{
  <h1 class="text-center">Add a client</h1>
  <form action='/clients/@Model[foundedClient].GetId()/update' method="post">
    <div class="form-group">
      <label for="client-name">Enter the client's name</label>
      <input type="text" name="client-name" class="form-control" value='@Model["foundedClient"].GetName()'>
    </div>
    <div class="form-group">
      <label for="stylist-id">Enter the stylist for this client</label>
      <select class="form-control" name="stylists">
        @foreach(var stylist in @Model["listStylists"])
        {
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }
      </select>
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="client-new">
    <button type="submit" class="btn btn-info">Add client</button>
  </form>
}
