@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-3">
    <form action="/stylists/new">
      <button type="submit" class="btn btn-info">Add a new stylist</button>
      <input type="hidden" name="form-type" id="form-type" value="stylist">
    </form>
    @if(@Model["listStylists"].Count == 0)
    {
      <h1>There is no one Stylist in database</h1>
    }
    else{
      @foreach(var stylist in Model["listStylists"])
      {
        <h4>
        <form action="/stylists/@stylist.GetId()/info" method="get">
          <input type="hidden" name="show-info" value="stylist">
          <button type="submit" name="button">@stylist.GetName()</button>
        </form></h4>
      }
    }
  </div>
  <div class="col-md-3">
    <form action="/client/new">
      <button type="submit" class="btn btn-info">Add a new client</button>
      <input type="hidden" name="form-type" id="form-type" value="client">
    </form>
    @if(@Model["listClients"].Count == 0)
    {
      <h3>There is no one Client in database</h3>
    }
    else{
      @foreach(var client in Model["listClients"])
      {
        <h4>
        <form action="/clients/@client.GetId()/info" method="get">
          <input type="hidden" name="show-info" value="client">
          <button type="submit" name="button">@client.GetName()</button>
        </form></h4>
      }
    }
  </div>
  <div class="col-md-5">
    @if(Model["show-info"] == "show-client")
    {
      <form class="form-inline" action='/clients/@Model["foundedClient"].GetId()/update' method="get">
        <button type="submit" class="btn btn-info" name="button">Edit client</button>
      </form>
      <form class="form-inline" action='/clients/@Model["foundedClient"].GetId()/delete' method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger" name="button">Delete client</button>
      </form>
      <h3>Name: @Model["foundedClient"].GetName()</h3>
      <h3>Stylist: @Model["foundedStylist"].GetName()</h3>
    }
    @if(Model["show-info"] == "show-stylist")
    {
      <form class="form-inline" action='/stylist/@Model["foundedStylist"].GetId()/update' method="get">
        <button type="submit" class="btn btn-info" name="button">Edit stylist</button>
      </form>
      <form class="form-inline" action='/stylists/@Model["foundedStylist"].GetId()/delete' method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger" name="button">Delete* stylist</button>
        <p>* when you delete stylist, all clients which belon to this stylist will be deleted as well.</p>
      </form>
      <h3>Name: @Model["foundedStylist"].GetName()</h3>
      <h3>Rating: @Model["foundedStylist"].GetRating()</h3>

      @if(Model.ContainsKey("stylistClients"))
      {
        @if(Model["stylistClients"].Count == 0)
        {
          <h3>This stylist doesn't have clients!</h3>
        }
        else {
          <h4>@Model["foundedStylist"].GetName()'s clients:</h4>
          @foreach(var client in Model["stylistClients"])
          {
            <h4><li>@client.GetName()</li></h4>
          }
        }
      }
    }
    @if(Model["show-info"] == "client-new")
    {
      <h2>New Client was just added!</h2>
      <hr>
      <h3>Name: @Model["newClient"].GetName()</h3>
      <h3>Stylist: @Model["clientStylist"].GetName()</h3>
    }
    @if(Model["show-info"] == "stylist-new")
    {
      <h2>New Stylist Was just added!</h2>
      <hr>
      <h3>Name: @Model["newStylist"].GetName()</h3>
      <h3>Rating: @Model["newStylist"].GetRating()</h3>
    }
    @if(Model["show-info"] == "update-stylist")
    {
      <h2>Stylist @Model["updatedStylist"].previousInformation["previousName"]</h2>
      <h3>Updated information:</h3>
      <h3>@Model["updatedStylist"].previousInformation["previousName"] - @Model["updatedStylist"].GetName()</h3>
      <h3>@Model["updatedStylist"].previousInformation["previousRating"] - @Model["updatedStylist"].GetRating()</h3>
    }
    @if(Model["show-info"] == "delete-stylist")
    {
      <h2>Stylist @Model["foundedStylist"].GetName() and all clients that belong to was just deleted!</h2>
    }
    @if(Model["show-info"] == "delete-client")
    {
      <h2>Stylist @Model["foundedClient"].GetName() was just deleted!</h2>
    }
    @if(Model["show-info"] == "delete-all-stylists")
    {
      <h2>All stylists and their clients was just deleted!</h2>
    }
    @if(Model["show-info"] == "delete-all-clients")
    {
      <h2>All clients was just deleted!</h2>
    }
  </div>
  <div class="col-md-1">
    <form class="form-inline" action="/stylists/delete_all" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit" name="button">Delete* ALL stylists</button>
      <p>When you delete ALL stylists, ALL clients will be automaticly deleted as well</p>
    </form>
    <form class="form-inline" action="/clients/delete_all" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit" name="button">Delete ALL clients</button>
    </form>
  </div>
</div>
